@model IEnumerable<Models.StaticIpAddress>

<h2>Static IP Address Overview</h2>

<a href="@Url.Action("Create", "IpAddress")" class="btn btn-primary">Add new IP Address</a>

<table class="table">
    <thead>
        <tr>
            <th>IP Address</th>
            <th>User</th>
            <th>Created Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model)
        {
            <tr>
                <td>@entry.IpAddress</td>
                <td>@entry.AssociatedUser</td>
                <td>@(entry.CreatedDate.HasValue ? entry.CreatedDate.Value.ToString("yyyy-MM-dd") : "")</td>
                @* <td>@entry.CreatedDate.ToString("yyyy-MM-dd")</td> *@
                <td>
                    @* <form method="post" action="@Url.Action("Remove", "IpAddress", new { ipAddress = entry.IpAddress })">
                <button type="submit" class="btn btn-danger">Remove</button>
                </form> *@
                    <form method="post" asp-controller="IpAddress" asp-action="Delete"
                        asp-route-ipAddress="@entry.IpAddress">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>


                </td>
            </tr>
        }
    </tbody>
</table>
